/* Our default values set as CSS variables */
:root {
  --color-bg: #f0f0f0;
  --color-text-main: #000000;
  --color-primary: #000000;
  --font-family: "Arial", "Impact";
  --font-family-header: "Arial";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}
body {
  margin: 0px;
  font-family: Arial;
  background-color: var(--color-bg);
}

.header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  z-index: 100;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
.header img {
  height: 64px;
  width: 64px;
}
.horizontal-list {
  display: flex;
  gap: 16px;
  list-style: none;
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.horizontal-list a {
  color: black;
  text-decoration: none;
  font-family: Arial;
  font-size: medium;
}
.search-bar {
  background-color: #e0dede;
  border: 0.5px black solid;
  border-radius: 3px;
  padding: 4px;
}

.horizontal-list a:hover {
  color: grey;
}
.try {
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
}

.gg-danger,
.gg-globe-alt,
.gg-enter {
  box-sizing: border-box;
  color: black;
  position: relative;
  margin: auto;
  display: block;
  transform: scale(var(--ggs, 1));
}

.input[placeholder="Search..."] {
  font-family: Arial;
}
.divider {
  padding: 0 1rem;
}
/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #000000;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 105%;
  text-align: center;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
  font-family: arial;
  position: absolute;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

/* Button - Add it from the README instructions */
.button {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  background-color: red;
  color: white;
  padding: 20px 50px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
}
.button-align {
  justify-content: center;
  display: flex;
}

/* Subheading */
h2 {
  color: #000000;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
  - Toggling this class on and off will move it down and up again
  - The button transition property above determines the speed of the translate (500ms)
  */
.dipped {
  transform: translateY(5px);
}
.container {
  padding: 50px;
}

.container-pic {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fafafa;
}
.hero {
  width: 100%;
  height: auto;
  max-height: 400px;
  filter: brightness(50%);
  object-fit: cover;
}
.first {
  text-align: center;
  font-size: 40px;
  padding: 4px;
}
.platform {
  text-align: center;
  font-size: 40px;
}
.read {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}
.title-red {
  position: relative;
  font-size: 32px;
}

.title-red::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 3px;
  border-radius: 2px;
  background-color: red;
}

.maps {
  display: block;
  width: 100%;
  height: 500px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100px;
}

.calendar__weekday {
  border-bottom: 1px solid #d1d5db;
  padding: 0.125rem;
}

.calendar__day {
  border-bottom: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
  padding: 0.25rem;
  text-align: center;
}

.calendar__day--current {
  background-color: #3b82f6;
  color: #fff;
}

.calendar__day:nth-child(7n + 1) {
  border-left: 1px solid #d1d5db;
}

.calendar__day--disabled {
  color: #d1d5db;
}

/* * Navigation grid .footer {  * */
/* display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
} */

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

/* new css  */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* Mobile */
@media (max-width: 640px) {
  .col-2 {
    grid-template-columns: 1fr;
  }
  .col-3 {
    grid-template-columns: 1fr;
  }
  .col-4 {
    grid-template-columns: 1fr;
  }
}

/* Tablet */
@media (min-width: 640px) and (max-width: 1280px) {
  .col-2 {
    grid-template-columns: 1fr;
  }
  .col-3 {
    grid-template-columns: 1fr;
  }
  .col-4 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop and up */
@media (min-width: 1280px) {
  .col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .calender-wrapper {
    grid-column: 1 / 2;
  }

  .meetings {
    grid-column: 2 / 4;
  }
}

.calendar-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* carousel */

.carousel-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: "DM Sans", sans-serif;
  transition: background 0.4s ease-in;
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
}

.carousel-body.blue {
  background-color: #428aa6;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 70%;
  height: 70%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container-carousel {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
/* Jeans */
.text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0;

  height: 50%;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
/* playground */
.text-wrapper1 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0;
  height: 50%;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
/* subway */
.text-wrapper2 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0;
  height: 50%;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
/* Diving line */
.line {
  position: absolute;
  margin-right: 0;
  left: 0;
  height: 1px;
  width: 100%;
  border-bottom: 3px solid #d9d9d9;
}
.cardheading {
  font-size: 28px;
}
